/* Estilos para la barra de navegación */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem; /* Padding más pequeño */
  background-color: #333;
  color: white;
  position: sticky;
  top: 0;
  z-index: 1000;
  height: 40px; /* Altura fija para el header */
}

/* Estilos para el logo */
.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 90px; /* Logo más grande */
  width: auto; /* Mantiene la proporción */
}

/* Estilos para la navegación */
.nav {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.nav-button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 0.9rem; /* Tamaño de fuente más pequeño */
  padding: 0.5rem;
}

.nav-button:hover {
  color: #4CAF50; /* Cambia el color al hacer hover */
}

.cart-icon {
  font-size: 1.2rem; /* Tamaño del ícono del carrito */
  color: white;
  text-decoration: none;
}

.cart-icon:hover {
  color: #4CAF50; /* Cambia el color al hacer hover */
}

/* Estilos para el botón de Inicio de Sesión */
.login-button {
  background-color: #4CAF50; /* Color verde */
  border: none;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9rem; /* Tamaño de fuente más pequeño */
  text-decoration: none;
}

.login-button:hover {
  background-color: #45a049; /* Color verde más oscuro al hacer hover */
}